html {
	height: 100%;
}

body {
	zoom: 1;
	line-height: 1;
	color: #000000;
	background-color: #ffffff;
}

html,
body {
	font-family: "Helvetica Neue RF", "Helvetica Neue LT", "Helvetica", serif;
	min-height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 100%;
}
